{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - Snippetbox</title>
    <!-- we use the static files that the server provides for css and icon -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetbox</a></h1>
      <!-- this block acts like a template action but we can define default content for this 'block' if the template doesn't exist-->
      {{block "sidebar" .}}
      <p>My default sidebar content</p>
      {{end}}
    </header>
    {{template "nav" .}}
    <main>{{template "main" .}}</main>
    <footer>
      Powered by <a href="https://golang.org/">Go</a> - {{.CurrentYear}}
    </footer>
    <!-- script is also provided by the same server as a static file -->
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
